* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  background-color: rgb(201, 201, 201);
  color: rgb(54, 54, 54);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

header {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.699)),
      to(rgba(0, 0, 0, 0.699))
    ),
    url("https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-0.3.5&s=818f71d21a4e5100bc616bf89c341c99&auto=format&fit=crop&w=1950&q=80");
  background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)),
    url("https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-0.3.5&s=818f71d21a4e5100bc616bf89c341c99&auto=format&fit=crop&w=1950&q=80");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  -webkit-box-shadow: -1px 8px 23px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 23px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 8px 23px -2px rgba(0, 0, 0, 0.75);
}

a {
  color: white;
}
button.navbar-toggler {
  /* color: white; */
  background: white;
}
.about-me {
  padding-bottom: 60px;
}

.dropdown-item {
  text-align: center;
}
.modal-img {
  position: relative;
}
.main-info-box {
  position: absolute;
  color: #fff;
  width: 1140px;
  top: 40%;
  left: 50%;
  font-size: 120%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main-info-box h1 {
  font-size: 340%;
}

.main-nav-links {
  position: absolute;
  right: 100px;
}

.main-nav-links li {
  margin-right: 30px;
}

.navbar-brand {
  margin-left: 100px;
  text-transform: uppercase;
  font-size: 130%;
}

section {
  padding-top: 60px;
}
.my-apps {
  background: #fff;
  -webkit-box-shadow: -1px -4px 23px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -4px 23px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -1px -4px 23px -2px rgba(0, 0, 0, 0.75);
}

h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.app-image {
  width: 100%;
  opacity: 0.9;
  overflow: hidden;
  height: auto;
  transform: scale(1);
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.image-col {
  padding: 0;
}

.app-image:hover {
  transform: scale(1.04);
  opacity: 1;
  cursor: pointer;
}

footer {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr;
  /* padding: 20px 0; */
  /* align-items: center; */
}

.footer-icons {
  color: black;
}
.footer-list {
  list-style: none;
  margin-bottom: 0;
  text-align: center;
}
.footer-list li {
  display: inline-block;
}
i {
  font-size: 150%;
}
.fa-code {
  font-size: 100%;
}
.copyright {
  margin-bottom: 0;
  text-align: center;
  font-size: 75%;
}
.biggerLetters {
  font-size: 110%;
}

h2::after {
  content: " ";
  width: 100px;
  display: block;
  height: 2px;
  margin: 30px auto 0 auto;
  background-color: red;
}

/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
.purple {
  color: rgb(192, 34, 145);
}
.red {
  color: red;
}
.green {
  color: rgb(21, 255, 0);
}
.one-indent {
  margin-left: 50px;
}
.two-indent {
  margin-left: 75px;
}
.main-info-box p {
  border-right: 0.15em solid orange;
  white-space: nowrap;
  overflow: hidden;
}
.main-info-box p:nth-child(1) {
  width: 12.8em;
  animation: type 1.1s steps(40, end);
  animation-fill-mode: forwards;
}

.main-info-box p:nth-child(2) {
  width: 8em;
  opacity: 0;
  animation: type2 1.1s steps(40, end);
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

.main-info-box p:nth-child(3) {
  width: 10.4em;
  opacity: 0;
  animation: type3 1.2s steps(40, end);
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}
.main-info-box p:nth-child(4) {
  width: 16em;
  opacity: 0;
  animation: type4 1.5s steps(40, end);
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
.main-info-box p:nth-child(5) {
  width: 1em;
  opacity: 0;
  animation: type5 0.3s steps(40, end), blink 0.4s step-end infinite alternate;
  animation-delay: 5.6s;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type4 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type5 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
